.template-page{
    width: 85%;
    margin: auto;
    min-height: calc(100vh - 496px);
}
.template-header {
    text-align: center;
    margin-top: 30px;
}
.spacer{
    height: 30px;
}
.wp-block-image img{
    display: block;
    margin: auto;
}
@media screen and (max-width: 720px) {
    .template-page{
        width: 100%;
    }
    .wp-block-image{
        width: 100vw !important;
    }
    
    .wp-block-image img{
        width: 90% !important;
        height: 90% !important;
    }

    .template-page-content{
        padding: 20px 30px 20px 30px;
    }
    .template-page .spacer{
        height: 15px;
    }

    .template-page-content{
        width: 90%;
    }
}