/* Style the header with a grey background and some padding */

.header {
	background-color: #044377;
	padding: 10px 10px;
}

.navbar-nav{
	margin-left: 10rem !important;
}

/* Style the header links */
@font-face {
    font-family: 'Ethnocentric';
    font-style: normal;
    font-weight: 400;
    src: local('Ethnocentric'), local('Ethnocentric-Regular'),
        url(/assets/fonts/ethnocentricrg.ttf) format('truetype');
}

.header .header-logo {
	float: left;
	color: #0ba1e3;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 22px;
	line-height: 25px;
	border-radius: 4px;
	font-family: 'Ethnocentric' !important;
}

.header a.logo {
	font-size: 25px;
	font-weight: bold;
}

.header img.logo {
	width: 40px;
	height: 40px;
	margin-left: 30px;
}

.header a.icons{
	width: 35px;
	height: 35px;
	background-color: aliceblue;
	margin-left: 5px;
	border-radius: 3px;
}

.header button.icons{
	width: 35px;
	height: 35px;
	background-color: aliceblue;
	margin-left: 5px;
	border-radius: 3px;
	box-shadow: none;
    border: 0;
}

.header a.dropdown-item{
	color:#fff;
}

.header-align-menu-right{
	right: 0;
	left: -115px !important;
}

.header img.icons {
	width: 20px;
	height: 25px;
	margin-top: -11px;
	margin-left: -8px;
}

#subNavBar img.icons {
	width: 20px;
	height: 25px;
	margin-top: -8px;
	margin-left: -8px;
}

#subNavBar a.icons {
	width: 35px;
	height: 35px;
	background-color: aliceblue;
	margin-left: 5px;
	border-radius: 3px;
}

#subNavBar a.cart-icon{
	position: relative;
}

.indicator{
	position: absolute;
	top: -10px;
	left: 70%;
	width: 20px;
	height: 20px;
	font-size: 12px;
    background-color: #fcaf43;
    border-radius: 10px;
	text-align: center;
}

.header-right {
	float: right;
}

.navbar-toggler {
	background-color: aliceblue;
}

#navbar ul li a {
	color: aliceblue;
}

#navbar ul li:hover {
	display: inline-block;
	background-color: #0ca6ea;
}

#navbar ul li:active {
	display: inline-block;
	background-color: #0ca6ea;
}

.dropdown-menu {
	background-color: #044377 !important
}

.navbar-expand-lg .navbar-collapse {
    margin: -10px;
}

#subNavBar{
    width: 100%;
    height: 70px;
	background-color: #0ca6ea;
}

#subNavBar .icon-holder{
    padding-top: 17px;
    padding-right: 150px;
}

.searchbar {

    width: 60%;
    box-sizing: border-box;
    border: 2px solid #0ca6ea;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('https://www.w3schools.com/howto/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    margin: 15px 10px 15px 10px;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.searchbutton{
    width: 120px;
    background-color: #fcaf43;
    border: 2px solid #0ca6ea;
    border-radius: 4px;
    margin: 15px 30px 15px 10px;
    font-weight: bold;
}

@media screen and (min-width: 992px) {
    .navbar-nav>li {
        margin-left: 10px;
        padding: 33px 5px;
    }

    .header .icon-holder {
        margin-right: 30px;
        margin-left: 20px;
    }
    .dropdown-menu {
        margin: -1px;
    }
}

@media screen and (max-width: 991px) {
    
	.navbar-nav{
		margin-left: 0 !important;
	}
	.header .icon-holder {
		position: absolute;
		top: 25px;
		width: 78%;
		margin-right: 20px;
	}
	.header img.logo {
		width: 40px;
		height: 40px;
		margin-left: 5px;
    }
    .nav-link{
        text-align: center;
    }
        
    #subNavBar .icon-holder{
        padding-top: 17px;
        padding-right: 10px;
    }
    .searchbar {
        width: 90%;
    }

    .searchbutton{
        display: none;
    }
}

@media screen and (max-width: 500px) {
	.header a {
		/* float: none;
      display: block;
      text-align: left; */
	}
	.header-right {
		float: none;
	}
	.header .icon-holder {
		position: absolute;
		top: 25px;
		width: 78%;
		margin-right: 20px;
	}
}