<div class="checkout-page">
    <div class="spacer"></div>
    <div class="checkout-page-content">
        <app-cart-summary-table [showShippingFee]="true" [shippingFeeVal]="shippingFeeVal" [tableContent]="_appService.cart_contents" [voucherVal]="voucherVal"></app-cart-summary-table>
        <div class="line-divider"></div>
        <button type="button" class="info-toggler mt-3" data-toggle="collapse" data-target="#personal-info-holder">✔️ Personal Information <i class="fa font-accordion">&#xf078;</i></button>
        <div id="personal-info-holder" class="collapse show">
            <table class="info-table">
                <tr>
                    <td width=100>
                        Name
                    </td>
                    <td>
                        {{ name }}
                    </td>
                </tr>
                <tr>
                    <td width=100>
                        Email
                    </td>
                    <td>
                        {{ email }}
                    </td>
                </tr>
                <tr>
                    <td width=100>
                        Phone
                    </td>
                    <td>
                        {{ phone }}
                    </td>
                </tr>
            </table>
        </div>
        <div class="line-divider"></div>
        <button type="button" class="info-toggler mt-3" data-toggle="collapse" data-target="#address-info-holder">✔️ Address <i class="fa font-accordion">&#xf078;</i></button>
        <div id="address-info-holder" class="collapse show">
            <table class="info-table">
                <tr>
                    <td width=100>
                        Address
                    </td>
                    <td>
                        <input id="address" class="info-input w-100" name="address" placeholder="Address Line" [(ngModel)]="address">
                    </td>
                </tr>
                <tr class="info-input-desktop">
                    <td width=100>
                        City
                    </td>
                    <td style="width: 100%;" class="d-flex justify-content-between">
                        <input *ngIf="!isSmallMobileDevice" id="city" class="info-input" style="width: 30%;" name="city" placeholder="City" [(ngModel)]="city" (focusout)="computeSf()">
                        <span style="width: 10%; margin-top: 10px; margin-right: 5px;">Province&nbsp;</span>
                        <!-- <input *ngIf="!isSmallMobileDevice" id="province" class="info-input" style="width: 30%;" name="province" placeholder="Province" [(ngModel)]="province"> -->
                        <select *ngIf="!isSmallMobileDevice" id="province" class="info-input" style="width: 30%;" name="province" placeholder="Province" [(ngModel)]="province" (focusout)="computeSf()">
                            <option value=""></option>
                            <option *ngFor="let province of province_list" value="{{ province.name }}">{{ province.name }}</option>
                        </select>
                        <span style="margin-top: 10px; margin-right: 5px;">Zip&nbsp;</span>
                        <input *ngIf="!isSmallMobileDevice" id="zip" class="info-input"  style="width: 15%; margin-right: 0px;" name="zip" placeholder="Zip" [(ngModel)]="zip" (focusout)="computeSf()">
                    </td>
                </tr>
                <tr class="info-input-mobile">
                    <td width=100>
                        City
                    </td>
                    <td>
                        <input *ngIf="isSmallMobileDevice" id="city" class="info-input w-100" name="city" placeholder="City" [(ngModel)]="city" (focusout)="computeSf()">
                    </td>
                </tr>
                <tr class="info-input-mobile">
                    <td width=100>
                        Province
                    </td>
                    <td>
                        <!-- <input *ngIf="isSmallMobileDevice" id="province" class="info-input w-100" name="province" placeholder="Province" [(ngModel)]="province"> -->
                        <select *ngIf="isSmallMobileDevice" id="province" class="info-input w-100" name="province" placeholder="Province" [(ngModel)]="province">
                            <option value=""></option>
                            <option *ngFor="let province of province_list" value="{{ province.name }}">{{ province.name }}</option>
                        </select>
                    </td>
                </tr>
                <tr class="info-input-mobile">
                    <td width=100>
                        Zip
                    </td>
                    <td>
                        <input *ngIf="isSmallMobileDevice" id="zip" class="info-input w-100" name="zip" placeholder="Zip" [(ngModel)]="zip">
                    </td>
                </tr>
            </table>
        </div>
        <div class="line-divider"></div>
        <button type="button" class="info-toggler mt-3" data-toggle="collapse" data-target="#shipping-info-holder">✔️ Select Shipping Method <i class="fa font-accordion">&#xf078;</i></button>
        <div id="shipping-info-holder" class="collapse show">
            <table class="info-table" id="shipping-choice-table">
                <!-- <tr>
                    <td>
                        <input type="radio" id="shipping1" name="shipping" value="shipping1" [(ngModel)]="shipping_type">
                    </td>
                    <td>
                        <img src="/assets/img/lalamove.png" class="shipping-image">
                    </td>
                    <td style="font-weight: bold;">
                        Lalamove
                    </td>
                    <td *ngIf="isSmallMobileDevice == false" style="width: 55%;">
                        Shipping rates varies per location
                    </td>
                    <td style="font-weight: bold;"> 
                        {{ shipping_type == "shipping1"? '₱' + shippingFeeVal : 'choose to compute' }}
                    </td>
                </tr> -->
                <tr>
                    <td>
                        <input type="radio" id="shipping2" name="shipping" value="shipping2" [(ngModel)]="shipping_type" (ngModelChange)="computeSf()">
                    </td>
                    <td>
                        <img src="/assets/img/mr_speedy.png" class="shipping-image">
                    </td>
                    <td style="font-weight: bold;">
                        Mr Speedy
                    </td>
                    <td *ngIf="isSmallMobileDevice == false" style="width: 55%;">
                        Shipping rates varies per location
                    </td>
                    <td style="font-weight: bold;"> 
                        {{ shipping_type == "shipping2"? '₱' + shippingFeeVal : 'choose to compute' }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="shipping3" name="shipping" value="shipping3" [(ngModel)]="shipping_type" [checked]="shipping_type == 'shipping3'">
                    </td>
                    <td>
                        <img src="/assets/img/meetup.png" class="shipping-image">
                    </td>
                    <td style="font-weight: bold;">
                        In store pickup
                    </td>
                    <td *ngIf="isSmallMobileDevice == false" style="width: 55%;">
                        Drop-off to our store to pick up the item. You may also leave a note in the memo area for your preferred schedule of pickup.
                    </td>
                    <td style="font-weight: bold;"> 
                        ₱0
                    </td>
                </tr>
            </table>
        </div>
        <div class="line-divider"></div>
        <button type="button" class="info-toggler mt-3" data-toggle="collapse" data-target="#address-info-holder">✔️ Memo <i class="fa font-accordion">&#xf078;</i></button>
        <div id="memo-holder" class="collapse show">
            <textarea id="memo" name="memo" rows="4" cols="50" class="info-input w-100 mt-2" [(ngModel)]="memo"></textarea>
        </div>
        <div class="line-divider"></div>
        <button type="button" class="info-toggler mt-3" data-toggle="collapse" data-target="#payment-info-holder">✔️ Select Payment Method <i class="fa font-accordion">&#xf078;</i></button>
        <table class="tos-table mt-3" id="tos-table">
            <tr>
                <td >
                    <input type="checkbox" id="tos-agree" name="tos-agree" value="tos-agree" style="margin-left: 10px;"  [(ngModel)]="tosIsChecked" >
                </td>
                <td style="font-weight: bold;">
                    I agree to the <a href="/terms-and-conditions">terms and condition</a> and will adhere unconditionally
                </td>
            </tr>
        </table>
        <div id="payment-info-holder" class="collapse show">
            <table class="info-table">
                <tr>
                    <td width=15>
                        <input type="radio" id="payment1" name="payment" value="payment1" (click)="changePlaceholderValue('', 'cod')">
                    </td>
                    <td width=50>
                        <img src="/assets/img/cash-on-delivery@2x.png" class="shipping-image">
                    </td>
                    <td style="font-weight: bold;">
                        Cash on Delivery
                    </td>
                    <!-- <td width=15>
                        <input type="radio" id="payment4" name="payment" value="payment4" (click)="changePlaceholderValue('Place here your ref. id after payment to kdvsolis@gmail.com', 'paypal')">
                    </td>
                    <td width=50>
                        <img src="/assets/img/PayPal_logo@2x.png" class="shipping-image">
                    </td>
                    <td style="font-weight: bold;">
                        Paypal&nbsp;
                        <a href="/paypal-payment" style="font-size: 8px;">How to pay?</a>
                    </td> -->
                </tr>
                <tr>
                    <td width=15>
                        <input type="radio" id="payment3" name="payment" value="payment3" (click)="changePlaceholderValue('Place here your ref. id after payment using QR code above', 'gcash')">
                    </td>
                    <td width=50>
                        <img src="/assets/img/gcash_default@2x.png" class="shipping-image">
                    </td>
                    <td style="font-weight: bold;">
                        GCash&nbsp;
                        <a href="/gcash-payment" style="font-size: 8px;">How to pay?</a>
                    </td>
                    <!-- <td width=15>
                        <input type="radio" id="payment2" name="payment2" value="payment2">
                    </td>
                    <td width=50>
                        <img src="/assets/img/voucher@2x.png" class="shipping-image">
                    </td>
                    <td style="font-weight: bold;">
                        Paypal
                    </td> -->
                </tr>
                <!-- <tr>
                    <td width=15>
                        <input type="radio" id="payment5" name="payment5" value="payment5">
                    </td>
                    <td width=50>
                        <img src="/assets/img/voucher@2x.png" class="shipping-image">
                    </td>
                    <td style="font-weight: bold;">
                        Paymaya
                    </td>
                </tr> -->
            </table>
        </div>
        <div class="d-flex justify-content-center">
            <img *ngIf="payment_mode === 'gcash'" style="width: 70%;" src="/assets/img/gcash_qr.jpg">
        </div>
        <div class="d-flex justify-content-center">
            <input type="text" id="payment-ref" class="order-id-input collapse" [ngClass]="{'show': payment_mode !== 'cod' && payment_mode !== ''}" placeholder="{{ placeholder }}" [(ngModel)]="ref_number">
        </div>
        <div class="d-flex justify-content-center">
            <button class="pay-button" style="background:#0ca6ea; color:white;" (click)="placeOrder()">ORDER NOW AND PAY</button>
        </div>
        <div class="d-flex justify-content-center">
            <span style="color: #e36e6e; font-weight: 500; text-align: center;">Please make sure you've chosen a payment method and accepted the terms and condition</span>
        </div>
    </div>
    <div class="spacer"></div>
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-spin" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
</div>