<div class="pageContentWrapper">
   <div id="carouselExampleIndicators" class="carousel slide mt-4" data-ride="carousel">
      <ol class="carousel-indicators">
         <li *ngFor="let carousel of carouselImages; let i = index;" data-target="#carouselExampleIndicators" data-slide-to="i" [ngClass]="i==0? 'active' : ''"></li>
      </ol>
      <div class="carousel-inner">
         <div *ngFor="let carousel of carouselImages; let i = index;" class="carousel-item" [ngClass]="i==0? 'active' : ''">
            <img src="{{carousel}}" class="d-block w-100" style="max-height: 500px; object-fit: contain;" alt="...">
         </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
      </a>
   </div>
   <span class="product-holder-title">Top Categories</span>
   <div id="top-categories" class="mt-3 mb-3">
      <div class="container-fluid">
         <div class="row">
            <div class="category-col ">
               
               <a [routerLink]="'/category/computer-cable'">
                  <div class="category-holder d-flex justify-content-start">
                     <img src="/assets/img/Asset 23@2x.png" class="category-image mr-3">
                     <span style="color: black"><strong>Computer Cables</strong><br>LAN, USB cables, etc.</span>
                  </div>
               </a>
            </div>
            <div class="category-col ">
               <a [routerLink]="'/category/storage-devices'">
                  <div class="category-holder d-flex justify-content-start" >
                     <img src="/assets/img/Asset 24@2x.png" class="category-image mr-3">
                     <span style="color: black"><strong>Storage Devices</strong><br>USB Flash drive, External drive</span>
                  </div>
               </a>
            </div>
            <div class="category-col ">
               <a [routerLink]="'/category/powerbanks'">
                  <div class="category-holder d-flex justify-content-start" >
                     <img src="/assets/img/Asset 22@2x.png" class="category-image mr-3">
                     <span style="color: black"><strong>Powerbanks</strong><br>For supplying electricity on your devices</span>
                  </div>
               </a>
            </div>
            <div class="category-col ">
               
               <a [routerLink]="'/category/wireless-connectors'">
                  <div class="category-holder d-flex justify-content-start" >
                     <img src="/assets/img/Asset 21@2x.png" class="category-image mr-3">
                     <span style="color: black"><strong>Wireless Connectors</strong><br>Wifi, Bluetooth dongles</span>
                  </div>
               </a>
            </div>
         </div>
      </div>
   </div>
   <div id="announcement-holder" class="d-flex justify-content-between">
      <img src="/assets/img/announcement1@2x.png" class="announcement-img">
      <img src="/assets/img/announcement2@2x.png" class="announcement-img">
   </div>
   <div *ngIf="newArrivals.length > 0" class="product-holder">
      <span class="product-holder-title">New Arrivals</span>
      <br>
      <span class="spacer">|</span>
      <app-item-carousel [navParams]="newArrivals"></app-item-carousel>
   </div>
   <div *ngIf="bestSellerProducts.length > 0" class="product-holder">
      <span class="product-holder-title">Best Seller Products</span>
      <br>
      <span class="spacer">|</span>
      <app-item-carousel [navParams]="bestSellerProducts"></app-item-carousel>
   </div>
   <span class="spacer">|</span><br>
   <span class="spacer">|</span><br>
   <span class="spacer">|</span><br>
   <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-spin" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
</div>