<footer >
    <div class="footer-info d-flex flex-row">
        <div class="d-flex flex-column  mt-4">
            <table class="ml-5">
                <tbody>
                    <tr>
                        <td class="footer-logo" style="text-align: left;">
                            <a href="#"><img src="assets/img/Asset 7@2x.png" class="logo" style="text-align: left;"><span style="margin-top: 10px; margin-left: 3px;">oologic</span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class=" mt-4 ml-5">
                <tbody>
                    <tr>
                        <td style="text-align: left;">
                            <a href="#"><img src="assets/img/email.png" class="icons">&nbsp;kdvsolis@protonmail.com</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">
                            <a href="https://www.facebook.com/koologicph"><img src="assets/img/facebook.png" class="icons">&nbsp;/koologicph</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">
                            <a href="https://shopee.ph/kdvsolis"><img src="assets/img/Shopee.png" class="icons">&nbsp;@koologic_ph</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">
                            <a href="https://www.lazada.com.ph/shop/kydo"><img src="assets/img/Lazada.png" class="icons">&nbsp;@koologicph</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex flex-column  mt-5 ml-5">
            <span style="text-align: left; font-weight: bold;">Our Company</span>
            <table class="mt-4">
                <tbody>
                    <tr>
                        <td style="text-align: left;">
                            <p><img src="assets/img/location.png" class="contact-icons">&nbsp;#70 Jasmine St. Lodora Village, Brgy Tunasan, Muntinlupa, NCR</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">
                            
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">
                            <p><img src="assets/img/phone-call.png" class="contact-icons">&nbsp;+639054302834</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
    
    <div class="dropdown-divider"></div>
    <div class="company-policy d-flex justify-content-around">
        <a href="/terms-and-conditions" class=" ml-5 mr-5 mt-4" style="text-align: left;">Terms and Condition of use</a>
        <a href="/privacy-policy" class=" ml-5 mr-5 mt-4" style="text-align: left;">Privacy Policy</a>
    </div>
</footer>